body {
  background-color: #ccc;
  background-image: linear-gradient(white, lightyellow, lightgreen, green);
  height: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

h1 {
  text-align: center;
  font-weight: bold;
  border: solid grey 1px;
  padding: 5px;
  background-color: #eee;
  color: black;
}

p {
  font-size: 12pt;
  font-family: fantasy;
}

.line {
  display: block;
  margin: 2px;
}

.error {
  color: red;
  display: none;
}

.sidebar {
  width: 20%;
  padding: 3px;
  border: solid grey 1px;
  text-align: center;
  background-color: lightblue;
  float: right;
}

.form-class {
  border: solid grey 1px;
  padding: 3px;
  background-color: lightyellow;
  float: left;
  width: 80%
}
.sidebar h3 {
  text-decoration: underline;
  margin-top: 0px;
}

.form-class h3 {
  text-align: center;
  margin-top: 0px;
}

#output p {
  font-family: none;
  font-size: 16pt;
  color: darkblue;
}
